*{
    margin: 0;
    font-family: sans-serif;
}

body{
    position: relative;
}


.nav_bar{
    width: 100%;
    height: 70px;
    background-color: #49C5B6;
    display: flex;
    align-items: center;
    position: fixed;
}
.menu{
    display: flex;
    align-items: center;
    background-color: white;
    color: #4E4F4F;
    width: 114px;
    height: 100%;
    border: 1px solid #E6EAEA;
    justify-content: space-evenly;
}

.awwwards{
    width: 1214px;
    height: 70px;
    background-color: #fff;
    display: flex;
    border: 1px solid #E6EAEA;
    align-items: center;
    justify-content: space-between;
}
.awwwards i{
    margin-left: 10px;
}
.awwwards a{
    margin-right: 10px;
}

.register a{
    text-decoration: none;
    color: #000;

}
.nav_bar p {
    font-size: 17px;
    margin: auto;
    color: #fff;
}
.images{
    display: grid;
    place-items: center;
    padding-top: 100px;
}
.image_container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imagessame{
    width: 100%;
    height: 100%;
    background: none;
}

.imagessame:hover{
    /* filter: saturate(200%); */
    background: blue;
    transition: 0.35s ease-out;
}
.tallimg{
    width: 100%;
    height: 100%;
}
.img{
    padding: 24px;
    width: 252px;
    height: 200px;
    background-color: #000;
    margin-top: 10px;
    filter: grayscale(350%);
}

.img:hover{
    filter: saturate(100%);
    transition: 0.6s ease-in-out;
}

.img1{
    padding: 24px;
    width: 252px;
    height: 350px;
    background-color: #000;
    opacity: 1;
    filter: grayscale(180%);
    margin-top: -110px;
}
.img1:hover{
    filter: saturate(100%);
    transition: 0.6s ease-in-out;
}

.images1{
    display: grid;
    place-items: center;
    justify-content: space-between;
    margin-top: -150px;
}